extends layout

block content
  header
    h1 #{title}
  table(width='100%')
    tr
      td(width='50%', height= '100') Enter first name, last name, and email (one per line)
      td Enter subject and message body (one per line)
        ul
          ul subject
          ul message body
    form(name="mail_form", method="post" action="/other" id="mail_form")        
      table(width='100%')
        tr
          td
            .input
              textarea(name='submit_to', cols='100', rows='10', id='submit_to') #{to}
          td
            .input  
              textarea(name='submit_subject', cols='100', rows='2', id="submit_subject") #{subject}
            .input
              span.label  
              textarea(name='submit_body', cols='100', rows='8', id="submit_body") #{body}
            .actions(align:right)
              input(type="submit", value="Preview" id="submit_form")
  if update
    .parent
      each item in to_list
        aside#featured.body
          article
            figure
              .emaileach
                ul= item
                ul #{subject} 
                ul #{body}
