extends layout

block content
  h1 #{title}
  div
    form(name="mail_form", method="post" action="/other")
      .row
        .column1 Enter names / emails (one per line)
          br
          br
          br
          br
          br
          br
          br
          .input
            span.label  
            textarea(name='submit_to', cols='100', rows='10', id='submit_to') #{to}


        .column2 Enter the text.  The following substitutions are valid:
          ul
            li {first}
            li {last}
            li {email} 
            br
          .input
            span.label  
          textarea(name='submit_subject', cols='100', rows='2', id="submit_subject") #{subject}
          .input
            span.label  
            textarea(name='submit_body', cols='100', rows='8', id="submit_body") #{body}
          .actions(align:right)
            input(type="submit", value="Preview" id="submit_form")
  .row
    if update
      each item in to_list      
        ul= item 
     


      
    
